<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
	<insert id="insert" parameterType="com.mystudy.model.VO.userVO">
		INSERT INTO USERS(USER_NO, USER_ID, PWD, NAME, PHONE, EMAIL, ADDRESS, GRADE)
		VALUES(NO_VAL.NEXTVAL, #{userId}, #{pwd}, #{name}, #{phone}, #{email}, #{address}, 'GEN' )
	</insert>
  	
  	
</mapper>